@charset "ISO-8859-1";
body{
	background-color : hsl(50, 70%, 90% );
}
<!-- Nott Working-->
iframe{
	background-color : white;	
	background-size : 695px 295px;
	background-repeat : no-repeat;
	background-position : center;		
}

.Short_story{
	padding-left : 20px;
	color : hsl(250, 30%, 30% )
}
.Blue_Text{
	color : blue;
}
#Quote_By{
	color : hsl(250, 30%, 30% )
}

#Header_Items{
	list-style-type : none;
	margin : 0px;
	padding : 20px 0px;
	background : hsl(250, 30%, 30% );
	overflow : hidden;
}
.Header_Item{
	display : inline;
	font-size : 20px;
	margin : 0px;
		
}
.Header_Link{
	text-decoration : none;
	text-align : center;
	
	margin : 0px;
	padding : 5px 3%;
	color : white;
}
.Header_Link:hover:not(#Active_Page_Link):not(#SignIn_Page_Link){
	color : blue;
}
#Active_Page_Link:hover{
	color : white;
}
.Header_Link:hover{
	text-decoration : none;
}
#SignIn_Page_Link{
	float : right;
	background-color : blue;
}
#SignIn_Page_Link:hover{
	color : hsl(250, 30%, 30% );
}
.advert-space{
	min-height : 40vh;
        width : 100%;
	border : 2px solid blue;
	margin-left : 20px;
        margin-right : 20px;
	margin-top : 10px;
        margin-bottom : 10px;
}