@charset "ISO-8859-1";
body{
	
	background-color : hsl(50, 70%, 90% );
	color : hsl(250, 30%, 30% );
	margin : 0px;
}

.ball{

	margin : 0px;

}

.middle-balls-color{
	background-color : #b8daff;
}

.color-two{
	background-color : hsl(250, 30%, 30% );
	
}

.color-one{
	background-color : blue;
}

.ball1{
	font: 1em sans-serif;;
}


.area{
	background-color : #b8daff;
	text-align : left;
	font-size : large;
	min-height : 90vh;
	max-height: 100vh;
}

#main-area{
    background-color : brown;
    min-height : 90vh;
    border : 2px solid hsl(250, 30%, 30% );
    animation-name : Play_Coders;
    animation-duration : 136s;
}

.Heading{
	border : 5px solid hsl(250, 30%, 30% );
	text-align : center;
	margin-left : 10px;
}

#Header_Items{
	list-style-type : none;
	margin : 0px;
	padding : 20px 0px;
	background : hsl(250, 30%, 30% );
	
}
.Header_Item{
	display : inline;
	font-size : 20px;
	margin : 0px;
		
}
.Header_Link{
	text-decoration : none;
	text-align : center;
	
	margin : 0px;
	padding : 5px 3%;
	color : white;
}
.Header_Link:hover:not(#Active_Page_Link):not(#SignIn_Page_Link){
	color : blue;
	
}
.Header_Link:hover{
	text-decoration : none;
}
#Active_Page_Link{
	color : white;
}
#SignIn_Page_Link{
	float : right;
	background-color : blue;
	color : white;
}
#SignIn_Page_Link:hover{
	color : hsl(250, 30%, 30% );	
	
}
.advert-space{
	min-height : 40vh;
        width : 100%;
	border : 2px solid blue;
	margin-left : 20px;
        margin-right : 20px;
	margin-top : 10px;
        margin-bottom : 10px;
}
