@charset "ISO-8859-1";
body{
	
        background-image: url(https://i.ibb.co/jh8PYg1/Bizana-Home.jpg);
		/*background-image: url(../images/Bizana_Home.jpg);*/
        background-size : cover;
}

#Form_Cover{
	width : 100%;
	height : 400px;
	
	position : relative;
	
}

#Header_Items{
	list-style-type : none;
	margin : 0px;
	padding : 20px 0px;
	background : hsl(250, 30%, 30% );
	overflow : hidden;
}

.Header_Item{
	display : inline;
	font-size : 20px;
	margin : 0px;
		
}
.Header_Link{
	text-decoration : none;
	text-align : center;
	
	margin : 0px;
	padding : 5px 3%;
	color : white;
}
.Header_Link:hover{
	color : blue;
	text-decoration : none;
}

#Login_Page_Link{
	float : right;
	background-color : blue;
}
#Login_Page_Link:hover{
	color : hsl(250, 30%, 30% );
}

