<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
	    <!--<link rel = "stylesheet" th:href="@{/css/bootstrap-4.3.1-dist/css/bootstrap.min.css}"></link>-->
	    <link rel="stylesheet" 
	    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	    crossorigin="anonymous">
		
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
	    
	    <link rel = "stylesheet" th:href="@{/css/contactinfo.css}"></link>
        <title>Contacts</title>
    </head>
    <body>
	<div class = "container-fluid">
        <!--The on hover css property i can't use, reason being i don't know how.-->
        <div class = "row">
			<div class = "col-md-12">
	             <ul id = "Header_Items">		
	                <li class = "Header_Item"><a href = "index" th:href = "@{/index}" class = "Header_Link">Home</a></li>
		              <li class = "Header_Item"><a href = "Background.html" th:href = "@{/background}" class = "Header_Link" target = "_blank">Background</a></li>
		              <li class = "Header_Item"><a href="IntroToJava.html" th:href = "@{/java}" class = "Header_Link">Java</a></li>
		              <li class = "Header_Item"><a href="IntroToPython.html" th:href = "@{/python}" class = "Header_Link">Python</a></li>
		              <li class = "Header_Item"><a href="IntroToDart.html" th:href = "@{/dart}" class = "Header_Link">Dart</a></li>
		              <li class = "Header_Item"><a href = "Games.html" th:href = "@{/games}" class = "Header_Link">Games</a></li>
                        <li class = "Header_Item"><a href="ConsultationSession.html" th:href =  "@{/booking}" class = "Header_Link">Consultation</a></li>
		              <li class = "Header_Item"><a href = "Signin.html" th:href = "@{/signin(previousPage=ContactInfo)}" id="SignIn_Page_Link" class = "Header_Link">Login/SignIn</a></li>
		              
	            </ul>
			</div>
       </div>
       <div class = "row mt-3">
                <div class = "col-md-12">
                    <!-- Google map needed for Mayville Primary School, Cator Crest Library or CAO. -->
                    <iframe 
                        src = "https://www.google.com/maps/embed?pb=
                        !1m18!1m12!1m3!1d5819.418691603769!2d30.9722138457359
                        9!3d-29.857148101567955!2m3!1f0!2f0!3f0!3m2!1i1024!2i7
                        68!4f13.1!3m3!1m2!1s0x0%3A0xaf445154466b1a73!2sCato+Crest
                        +Community+Hall!5e0!3m2!1sen!2sza!4v1565602664873!5m2!1sen!
                        2sza"  th:src="@{/https://www.google.com/maps/embed?pb=
                        !1m18!1m12!1m3!1d5819.418691603769!2d30.9722138457359
                        9!3d-29.857148101567955!2m3!1f0!2f0!3f0!3m2!1i1024!2i7
                        68!4f13.1!3m3!1m2!1s0x0%3A0xaf445154466b1a73!2sCato+Crest
                        +Community+Hall!5e0!3m2!1sen!2sza!4v1565602664873!5m2!1sen!
                        2sza}" style="border:0;" 
                        width = "100%" height = "400">
                    </iframe>
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-md-4">	
                    <br/>
                    <div class = "Location_Contact">
                        <address style = " color : hsl(250, 30%, 30% )">
                        	<h5>Mayville Cato Crest 6257 Ashwell Road 
                            Kwa Zulu Natal,Durban 4091  
                            South Africa</h5>   
                        </address>
                       <h5 style = " color : hsl(250, 30%, 30% )">			
                            Email : Lwandile@mylifeprogrammingschool.com<br/>
                            Phone Number : +27656061459
                        </h5>
                        <h5 style = " color : hsl(250, 30%, 30% )">			
                            Close To The Hall On The Right.
                        </h5>
                    </div>
                </div>
                <div class = "col-md-4">
                    <br/>
                    <iframe src="https://i.ibb.co/SRp09fF/Cato-Crest-Hall.jpg" 
                    id = "Goku_Frame" width = "100%" height = "100%">
                    </iframe>
                </div>
                <div class = "col-md-4">
                    <br/>
                    <h5 id = "Booking_Message">
                        Programming or Mathematics can be hard to understand 
                        especially if there is no one to share
                        your difficulties with. In case you feel 
                        like there are certain things you don't 
                        quite understand in Java Or Math you can <em>"book"</em> 
                        me for free for a one on one session by filling the 
                        <a href="SessionRequest.html" th:href = "@{/sessionbooking}">form</a>. 
                        Remember it all lies on your determination.
                    </h5>
                </div>
            </div>
        </div>
    </body>
</html>